!!!
%html{:lang => "en"}
  %head
    = render partial: 'layouts/head_tags'
    / Import highlight.js
    %link{:href => "//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/tomorrow-night.min.css", :rel => "stylesheet"}/
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"}

  %body.uk-background-default

    = render 'layouts/navbar'

    - if current_account.present? && !current_account.live_mode && current_account.persisted?
      .uk-text-center.uk-grid
        %div.uk-width@m{"uk-alert" => "", class: 'uk-alert-primary'}
          %p
            %span{'uk-icon': 'info'}
            %i= link_to current_account.name, edit_account_path(current_account)
            account in the test mode. Notifications will not send to real adresses.

    .uk-container
      = render partial: 'layouts/head_tools'

      = yield

    / respond with modal renderer
    #modal-holder

    / Footer
    %footer.uk-text-center.uk-text-muted.uk-background-muted
      .uk-margin
      Crafted with
      %i{'uk-icon': 'heart', style: 'color: red'}
      in Sunny California.
      .uk-margin


    - flash.each do |key, value|
      :javascript
        UIkit.notification({message: "#{value}", status: "#{flash_class(key)}", pos: 'bottom-right'})
