!!!
%html{:lang => "en"}
  %head
    = render partial: 'layouts/head_tags'
  %body.uk-background-default
    %nav.uk-navbar-container{"uk-navbar" => ""}
      .uk-navbar-left
        %ul.uk-navbar-nav
          %li.uk-active
            %a
              %span{"uk-icon" => "icon: bell"}
    .uk-container
      %div{:class => "uk-child-width-1-2@m", "uk-grid" => ""}
        %div
          .uk-card
            .uk-card-body
              %h3.uk-card-title= t('main.welcome_to_email_dashboard')
              %p= t('main.features.post_variables')
              %p= t('main.features.manage_notifications')
              %p= t('main.features.customize')
        %div
          .uk-card
            .uk-card-body
              = yield

    / Footer
    %footer.uk-text-center.uk-text-muted.uk-background-muted
      .uk-margin
      = t('main.footer.crafted_with')
      %i{'uk-icon': 'heart', style: 'color: red'}
      = t('main.footer.sunny_california')
      .uk-margin

