.uk-card.uk-card-default.uk-card-body
  = simple_form_for(@smtp_setting, namespace: 'office_365') do |f|
    = f.error_notification

    .uk-margin
      = f.input :provider, label: t('smtp.form.title'), placeholder: 'My Office365 Account', input_html: { class: 'uk-input' }
    .uk-margin
      = f.input :address, as: :hidden, input_html: { value: 'smtp.office365.com', class: 'uk-input' }
    .uk-margin
      = f.input :port, as: :hidden, input_html: { value: '587', class: 'uk-input' }
    .uk-margin
      = f.input :username, label: t('smtp.form.username'), placeholder: 'myemail@office365.com', input_html: { class: 'uk-input' }
    .uk-margin
      = f.input :password, label: t('smtp.form.password'), input_html: { class: 'uk-input' }

    .form-actions
      = f.submit t('actions.save'), class: 'uk-button uk-button-primary'
