.uk-card.uk-card-default.uk-card-body
  = simple_form_for(@notification_content) do |f|
    = f.error_notification

    .uk-margin
      = f.input :subject, input_html: { class: 'uk-input' }
    .uk-margin
      = f.input :content, input_html: { rows: 15, class: 'uk-textarea' }

    .uk-margin
      = f.submit 'Save', class: 'uk-button uk-button-primary'
