%h1 Listing Notification Contents

%table.uk-table.uk-table-responsive.uk-table-divider
  %thead
    %tr
      %th Subject
      %th Content
      %th
      %th
      %th

  %tbody
    - @notification_contents.each do |notification_content|
      %tr
        %td= notification_content.subject
        %td
          = notification_content.content.strip.first(50)
          \...
        %td= link_to 'Show', notification_content
        %td= link_to 'Edit', edit_notification_content_path(notification_content)
        %td= link_to 'Destroy', notification_content, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Notification content', new_notification_content_path
