<% variables = @notification.try(:email_deliver).try(:notification_content).present? ? @notification.email_deliver.notification_content.content_variables : [] %>

<ul uk-tab class="uk-tab">
  <li class="uk-active"><a href="#">Curl</a></li>
  <li><a href="#">Ruby</a></li>
  <li><a href="#">Postman</a></li>
</ul>
<!-- Tab panes -->
<ul class="uk-switcher uk-margin">
  <li class="uk-active" id="curl" role="tabpanel">
    <pre>
      <code class="hljs bash" style="margin-left: -50px;">
      curl -i -H "Authorization: Token <%= current_account.api_key %>" -H "Content-type: application/json" \
      -X POST -d '{ "variables": { "<%= variables.first || 'variable' %>": "Test", "button_name": "Click Me!"}, "email":{ "to":["test-to@email.com"], "from":"test-from@email.com" } }' \
      <%= "\"https://api.#{request.domain}/api/v3/notifications/#{@notification.slug}\"" %>

      # <%= t('notifications.docs.delivery_optional') %>
      # <u><a href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones" target="_blank"><%= t('notifications.docs.available_timezone') %></a></u>
      # Example JSON body
        {
          "variables":{
             "user_fullname":"Test User"
          },
          "email":{
             "to":["test@gmail.com", "test2@gmail.com"],
             "cc": ["cc@test.com"],
             "reply_to": ["reply@test.com"],
             "from":"from@test.com"
          },
          "delivery": {
            "time": "21:00",
            "date": "2018-02-12",
            "zone": "Etc/UTC"
          }
       }
      </code>
    </pre>
  </li>
  <li class="tab-pane" id="ruby" role="tabpanel">
    <pre>
      <code class="hljs ruby" style="margin-left: -50px;">
      require 'httparty'

        body = {
          email: {
            to: ['to@example.com'],
            cc: ['cc@test.com'],
            bcc: ['bcc@test.com'],
            from: 'from@test.com',
            reply_to: ['reply@test.com']
          },
          variables: {
          <% variables.each do |variable| %>
            <%= "#{variable}: 'some_value'," %>
          <% end %>
          },
          delivery: { # optional
            time: "21:00",
            date: "<%= Time.current.to_date %>",
            time_zone: "Etc/UTC" # <u><a href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones" target="_blank">See available timezones.</a></u>
          }
        }
        headers = {
          <%= "Authorization: \"Token #{current_account.api_key}\"" %>
        }

        HTTParty.post(
          '"https://api.<%= request.domain %>/api/v3/notifications/<%= @notification.slug %>"',
          body: body.to_json, headers: headers
        )
      </code>
    </pre>
  </li>
  <li class="tab-pane" id="postman" role="tabpanel">
    <%= link_to 'Download Postman Collection', '/Notification-Dashboard.postman_collection.json', download: '' %>
  </li>
</ul>