= content_for :action_buttons do
  = link_to t('notifications.go_to_docs'), '#doc-ntf', 'uk-scroll': '', class: 'uk-text-right uk-button uk-button-default'

.uk-card.uk-card-default.uk-card-body
  %p
    %strong= @notification.name
    = link_to t('actions.edit'), edit_notification_path(@notification), class: 'uk-button uk-button-small uk-button-default'
.uk-margin

.uk-grid-collapse{'uk-grid': '', class: 'uk-child-width-expand@s'}
  .uk-card.uk-card-default.uk-card-body
    = simple_form_for([@notification, @notification.email_deliver],  html: { class: 'form-horizontal' }, method: :patch) do |f|
      %fieldset.uk-fieldset
        = f.error_notification
        %h3
        .uk-margin.uk-grid-small.uk-child-width-auto.uk-grid
          = f.input :is_active, label: t('notifications.form.is_active'), input_html: { class: 'uk-checkbox uk-form-width-medium', style: 'margin-right: 5px;' }
        .uk-margin
          %label.uk-form-label= t('smtp.settings')
          = f.association :smtp_setting, label_method: :provider, value_method: :id, label: false, include_blank: true, required: true, collection: current_account.smtp_settings, input_html: { class: 'uk-select uk-form-width-large' }
        .uk-margin
          %label.uk-form-label= t('notifications.form.template')
          = f.association :notification_content, label_method: :subject, value_method: :id, label: false, include_blank: true, required: true, collection: current_account.notification_contents, input_html: { class: 'uk-select uk-form-width-large' }
      .uk-margin
        = f.submit t('actions.save'), class: 'uk-button uk-button-primary'

.uk-margin#doc-ntf
.uk-card.uk-card-default.uk-card-body
  = render 'code_block'

.uk-margin
.uk-card.uk-card-default.uk-card-body
  %h3.text-center= t('dashboard.activities.title')

  = render partial: 'activities/index', locals: { activities: @activities }
