.uk-text-center{:class => "uk-child-width-expand@s", "uk-grid" => ""}
  %div
    .uk-card.uk-card-default.uk-card-body
      %h3
        = t('dashboard.home.emails_sent', emails_count: @sent_emails_count)


%div{:class => "uk-child-width-1-5@m", "uk-grid" => "", "uk-scrollspy" => "cls: uk-animation-fade; target: > div > .uk-card; delay: 500; repeat: true"}
  %div
    .uk-card.uk-card-default.uk-card-body
      %h3.uk-card-title.uk-text-primary= t('dashboard.instructions.add_smtp')
  %div
    .uk-card.uk-card-default.uk-card-body
      %h3.uk-card-title.uk-text-primary= t('dashboard.instructions.create_template')
  %div
    .uk-card.uk-card-default.uk-card-body
      %h3.uk-card-title.uk-text-primary= t('dashboard.instructions.create_notification')
  %div
    .uk-card.uk-card-default.uk-card-body
      %h3.uk-card-title.uk-text-primary= t('dashboard.instructions.submit_api')
  %div
    .uk-card.uk-card-default.uk-card-body
      %h3.uk-card-title.uk-text-primary= t('dashboard.instructions.monitor_activities')
