.uk-text-center
  %h3.uk-card-title Sign Up
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'uk-form-stacked') do |f|
    = f.error_notification
    .uk-form-controls.uk-margin
      = f.input :email, required: true, autofocus: true, input_html: { class: 'uk-input' }, placeholder: 'Email', label: false

    .uk-form-controls.uk-margin
      = f.input :password, required: true, autofocus: true, input_html: { class: 'uk-input' }, placeholder: 'Password', label: false, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
    .uk-form-controls.uk-margin
      = f.input :password_confirmation, required: true, autofocus: true, input_html: { class: 'uk-input' }, placeholder: 'Password Confirmation', label: false
    .uk-form-row
      = f.button :submit, "Sign UP", class: 'uk-button uk-button-primary'
%br
= render "devise/shared/links"
