%h1 Notifications
%table.table
  %thead
    %tr
      %th Name
      %th Is Active
      %th{:colspan => "3"}
  %tbody
    - @notifications.each do |notification|
      %tr
        %td= notification.name
        %td
          %badge.badge-pill{class: "#{notification.email_deliver.is_active ? 'badge-success' : 'badge-danger'}"}
        %td= link_to 'Details', notification
        %td= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Notification', new_notification_path
