.card
  .card-block
    %p
      %strong Name:
      = @notification.name
      = link_to 'Edit', edit_notification_path(@notification)
.card
  .card-block
    %h4.card-title Email
    %p.card-text Notification Email Deliver Settings
    = simple_form_for([@notification, @email_deliver],  html: { class: 'form-horizontal' }, method: :patch) do |f|
      = f.error_notification
      .form-group
        = f.input :is_active, class: 'form-control'
        = f.association :smtp_setting, label_method: :provider, value_method: :id, include_blank: false, collection: current_account.smtp_settings, class: 'form-control'
        = f.association :notification_content, label_method: :subject, value_method: :id, include_blank: false, collection: current_account.notification_contents, class: 'form-control'

      = f.submit 'Save', class: 'btn btn-primary'
%div{style: 'margin-top: 30px;'}      
%h3.text-center Notification Activities      
.jumbotron
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th Status
          %th Content
      %tbody
        - @activities.each do |activity|
          %tr
            %td= Base64.urlsafe_encode64("#{activity.id}")
            %td= activity.status
            %td{style: 'max-width: 350px'}
              .highlight
                %pre
                  %code.language-json{"data-lang" => "json"}
                    = activity.request_content
