.card
  .card-block
    %p
      %strong Name:
      = @notification.name
      = link_to 'Edit', edit_notification_path(@notification)
.card
  .card-block
    %h4.card-title Email
    %p.card-text Notification Email Deliver Settings
    = simple_form_for([@notification, @email_deliver],  html: { class: 'form-horizontal' }, method: :patch) do |f|
      = f.error_notification
      .form-group
        = f.input :is_active, class: 'form-control'
        = f.association :smtp_setting, label_method: :provider, value_method: :id, include_blank: false, collection: current_account.smtp_settings, class: 'form-control'
        = f.association :notification_content, label_method: :name, value_method: :id, include_blank: false, collection: current_account.notification_contents, class: 'form-control'

      = f.submit 'Save', class: 'btn btn-primary'
    %a.card-link{:href => "#"} Card link
    %a.card-link{:href => "#"} Another link
