.uk-card.uk-card-default.uk-card-body
  %p
    %strong Name:
    = @notification.name
    = link_to 'Edit', edit_notification_path(@notification)
.uk-margin

.div{:class => "uk-child-width-expand@s", "uk-grid" => "", "uk-height-match" => "target: > div > .uk-card"}
  %div
    .uk-card.uk-card-default.uk-card-body
      = simple_form_for([@notification, @email_deliver],  html: { class: 'form-horizontal' }, method: :patch) do |f|
        %fieldset.uk-fieldset
          = f.error_notification
          %legend Notification Email Deliver Settings
          .uk-margin.uk-grid-small.uk-child-width-auto.uk-grid
            = f.input :is_active, input_html: { class: 'uk-checkbox', style: 'margin-right: 5px;' }
          .uk-margin
            = f.association :smtp_setting, label_method: :provider, value_method: :id, include_blank: true, required: true, collection: current_account.smtp_settings, input_html: { class: 'uk-select' }
          .uk-margin
            = f.association :notification_content, label_method: :subject, value_method: :id, include_blank: true, required: true, collection: current_account.notification_contents, input_html: { class: 'uk-select' }
        .uk-margin
          = f.submit 'Save', class: 'uk-button uk-button-primary'
  %div
    .uk-card.uk-card-default.uk-card-body
      = render 'code_block'

%div{style: 'margin-top: 30px;'}
%h3.text-center Notification Activities
%table.uk-table.uk-table-responsive.uk-table-divider
  %thead
    %tr
      %th Sent At
      %th Status
      %th Content
  %tbody
    - @activities.each do |activity|
      %tr
        %td= activity.created_at
        %td= badge_status(activity.status)
        %td{style: 'max-width: 300px; min-width: 300px'}
          = render partial: 'activities/content', locals: { activity: activity }
