= content_for :modal_title do
  = t('scheduled.activity')

%p
  = t('scheduled.going_to_be_sent')
  %b= @activity.send_at
  \.
%p= t('scheduled.if_you_want_to_change')
= link_to t('scheduled.send_now'), activity_schedulers_path(@activity, status: 'pending'), method: :put, class: 'uk-button uk-button-primary'
= link_to t('scheduled.cancel'), activity_schedulers_path(@activity, status: 'canceled'), method: :put, class: 'uk-button uk-button-danger'
