.uk-card.uk-card-default.uk-card-body
  %h3.text-center= t('accounts.form.info')
  = simple_form_for(account,  html: { class: 'form-horizontal' }) do |f|
    = f.error_notification
    .uk-margin
      = f.input :name, label: t('accounts.form.name'), input_html: { class: 'uk-input' }, required: true, autofocus: true

    = f.submit t('actions.save'), class: 'uk-button uk-button-primary'
