.uk-margin
.uk-card.uk-card-default.uk-card-body
  %h3.text-center
    Status
    - if @account.live_mode
      %span.uk-label.uk-label-success Live Mode
    - else
      %span.uk-label.uk-metal Test Mode

  = simple_form_for(@account,  html: { class: 'form-horizontal' }) do |f|
    = f.error_notification
    .uk-margin
    = f.input :live_mode, input_html: { id: 'accountLiveMode', class: 'uk-checkbox uk-form-width-medium', style: 'margin-right: 5px;' }
    #testModeEmail{style: "display: #{@account.live_mode ? 'none' : 'block'};"}
      .uk-margin
      %label Set an email address to receive all notifications in for test mode.
      = f.input :to_email_for_test, input_html: { class: 'uk-input uk-form-width-large' }, autofocus: true, label: false, placeholder: 'example@email.com'
      %p.uk-text-danger
        %i * In the test mode notifications not sending to real addresses but still you can monitorize them from the activities.

    .uk-margin
    = f.submit 'Save', class: 'uk-button uk-button-primary'


.uk-margin
= render 'form', account: @account

.uk-margin
.uk-card.uk-card-default.uk-card-body
  %h3.text-center Team Members
  = simple_form_for(:invitation,  html: { class: 'form-horizontal' }, url: invitations_path, method: :post) do |f|
    .uk-margin
      = f.input :email, placeholder: 'email@example.com', input_html: { class: 'uk-input' }
      = f.input :account, :as => :hidden, :input_html => { :value => @account.id }
    = f.submit 'Invite', class: 'uk-button uk-button-primary'
  %br

  %table.uk-table.uk-table-responsive.uk-table-divider
    %thead
      %tr
        %th #
        %th Email
        %th Role
        %th
    %tbody
      - @account.account_users.each do |au|
        %tr
          %td= au.id
          %td= au.user.email
          %td= au.role
          %td
            - unless au.role == 'owner'
              = link_to invitation_path(au.id, account_id: @account.id), method: :patch do
                %span.badge.badge-pill.badge-default
                  Resend Confirm
