= content_for :action_buttons do
  = link_to new_smtp_setting_path, class: 'uk-button uk-button-success' do
    %i{'uk-icon': 'plus'}
    = t('smtp.new_smtp')

- if @smtp_settings.size == 0
  = render 'smtp_settings/blank'
- else
  = render 'smtp_settings/index', { smtp_settings: @smtp_settings }