.uk-card.uk-card-default.uk-card-body
  %p
    %b= t('smtp.form.title')
    = @smtp_setting.provider
  %p
    %b= t('smtp.form.address')
    = @smtp_setting.address
  %p
    %b= t('smtp.form.port')
    = @smtp_setting.port
  %p
    %b= t('smtp.form.username')
    = @smtp_setting.username
