%table.uk-table.uk-table-responsive.uk-table-divider
  %thead
    %tr
      %th Sent At
      %th Notification
      %th Status
      %th
  %tbody
    - activities.includes(notification_deliver: :notification).each do |activity|
      %tr
        %td= activity.send_at || activity.created_at
        %td
          - if activity.notification_deliver.try(:notification).present?
            = link_to activity.notification_deliver.notification.name, notification_path(activity.notification_deliver.notification)
        %td
          = badge_status(activity.status)
          = tracking_status(activity.track_status)
          - if activity.error_message.present?
            %span.uk-margin-small-right.uk-icon{'uk-icon': 'info', 'uk-tooltip': "title: #{activity.error_message}"}
          - elsif activity.status == 'scheduled'
            = link_to activity_schedulers_path(activity), data: { modal: true } do
              %span.uk-margin-small-right.uk-icon{'uk-icon': 'cog', 'uk-tooltip': "title: Scheduled to: #{activity.send_at}"}
        - payload = { data: Time.current.to_i, id: activity.id }
        %td= link_to 'Content Preview', activity_path(activity, token: (JWT.encode payload, nil, 'none')), class: 'uk-button uk-button-small uk-button-default', target: '_blank'

= paginate activities
