%h3.text-center Notification Activities
%table.uk-table.uk-table-responsive.uk-table-divider
  %thead
    %tr
      %th Sent At
      %th Notification
      %th Status
      %th Request Body
  %tbody
    - @activities.each do |activity|
      %tr
        %td= activity.created_at
        %td
          - if activity.notification_deliver.try(:notification).present?
            = link_to activity.notification_deliver.notification.name, notification_path(activity.notification_deliver.notification)
        %td= badge_status(activity.status)
        %td{style: 'max-width: 300px; min-width: 300px;'}
          = render partial: 'content', locals: { activity: activity }

= paginate @activities
