!!!
%html{:lang => "en"}
  %head
    = render partial: 'layouts/head_tags'
    / Import highlight.js
    %link{:href => "//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/tomorrow-night.min.css", :rel => "stylesheet"}/
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"}

  %body.uk-background-default

    = render 'layouts/navbar'

    .uk-text-center.uk-grid
      - flash.each do |key, value|
        %div.uk-width@m{"uk-alert" => "", class: flash_class(key)}
          %a.uk-alert-close{"uk-close" => ""}
          %p= value

    .uk-container
      = render partial: 'layouts/head_tools'

      = yield

    / respond with modal renderer
    #modal-holder

    / Footer
    %footer.uk-text-center.uk-text-muted.uk-background-muted
      .uk-margin
      Made with
      %i{'uk-icon': 'heart', style: 'color: red'}
      by Remote Team.
      .uk-margin

