%h1 Account Detail
= render 'form', account: @account

- if current_user.role_in_account(@account) == 'owner'
  %div{style: 'margin-top: 30px;'}
    %h3.text-center Account Users
    .jumbotron
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th #
              %th Status
              %th Role
          %tbody
            - @account.account_users.each do |au|
              %tr
                %td= au.id
                %td= au.user.email
                %td= au.role

    = link_to 'All Accounts', accounts_path
