= render 'form', account: @account

.uk-margin
.uk-card.uk-card-default.uk-card-body
  %h3.text-center Team Members
  = simple_form_for(:invitation,  html: { class: 'form-horizontal' }, url: invitations_path, method: :post) do |f|
    .uk-margin
      = f.input :email, placeholder: 'email@example.com', input_html: { class: 'uk-input' }
      = f.input :account, :as => :hidden, :input_html => { :value => @account.id }
    = f.submit 'Invite', class: 'uk-button uk-button-primary'
  %br

  %table.uk-table.uk-table-responsive.uk-table-divider
    %thead
      %tr
        %th #
        %th Email
        %th Role
        %th
    %tbody
      - @account.account_users.each do |au|
        %tr
          %td= au.id
          %td= au.user.email
          %td= au.role
          %td
            - unless au.role == 'owner'
              = link_to invitation_path(au.id, account_id: @account.id), method: :patch do
                %span.badge.badge-pill.badge-default
                  Resend Confirm
