= content_for :action_buttons do
  = link_to new_account_path, class: 'uk-button uk-button-success' do
    %i{'uk-icon': 'plus'}
    New Account


%table.uk-table.uk-table-responsive.uk-table-divider
  %thead
    %tr
      %th Name
      %th{:colspan => "3"}
  %tbody
    - @accounts.each do |account|
      %tr
        %td= account.name
        %td.uk-text-right
          = link_to 'Dashboard', set_current_account_path(account), method: :post, class: 'uk-button uk-button-small uk-button-default'
          = link_to 'Details', edit_account_path(account), class: 'uk-button uk-button-small uk-button-default'
          = link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' }, class: 'uk-button uk-button-small uk-button-danger'
